@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(165 243 252);
  text-decoration: none;
}

a:hover {
  color: rgb(34 211 238);
}

* {
  box-sizing: border-box;
}


.word-rotate .animate-wordRotate:nth-child(2) {
  animation-delay: 3s;
}
.word-rotate .animate-wordRotate:nth-child(3) {
  animation-delay: 6s;
}